.idea/
.vs

**/[Dd]ebug/
**/[Rr]elease/
**/x64/
**/[Bb]in/
**/[Oo]bj/
**/[Mm]igrations/

**/node_modules/

**/build

/Granto/Client/.DS_Store
/Granto/Client/.env.local
/Granto/Client/.env.development.local
/Granto/Client/.env.test.local
/Granto/Client/.env.production.local
/Granto/Client/npm-debug.log*
/Granto/Client/yarn-debug.log*
/Granto/Client/yarn-error.log*

**/wwwroot
**/.yarn/